.section {
  width: 100%;
}

fieldset {
  border: red solid 1px;
  margin: 2em;
  display: flex;
  justify-content: space-around;
}

legend {
  color: red;
  font-size: 2em;
  letter-spacing: 0.5em;
}

.sectionPicture {
  width: 50%;
}

.sectionPicture img {
  width: 15em;
  height: 12em;
}

.dessert_and_drinks img {
  width: 10em;
  height: 7em;
}

.burgerCounter {
  display: flex;
  align-items: center;
}

.buttons,
.counter {
  font-size: 2em;
  width: 2em;
  height: 1em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
}

.counter {
  background-color: white;
  color: black;
}

.foodIngredients {
  display: flex;
  justify-content: space-around;
  margin: 2em;
}

.food_divs div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-left: 2em;
  font-weight: bold;
  font-size: 2em;
  font-family: cursive;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
