#sideBar {
  width: 20%;
  height: 100vh;
  background-color: red;
}

.title {
  color: white;
  letter-spacing: 7px;
  text-align: center;
}

#logo {
  width: 100%;
}

#sideNavUl {
  list-style: none;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.links {
  margin: 1.5em 3em;
}
.links a {
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}

.links a:hover {
  color: yellow;
}
